.square{
  width: 100px;
  height: 100px;
  background-color: #4b495f;
  border-radius: 5px;
  transition: 0.1s;
}

.square:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.not-allowed{
  cursor: not-allowed !important;
}

.circle-won{
  background-color: #dd7f9f;
}

.cross-won{
  background-color: rgb(63, 167, 240);
}

.grey-background{
  background-color: gray !important;
}